{% include base_path %}
<div itemscope itemtype="https://schema.org/Person">
  <div class="profile-rule" aria-hidden="true"></div>
  <div class="author__content">
    <h3 class="author__name" itemprop="name">Hongfei Zhu</h3>
    <p class="author__bio">朱弘飞<br>PhD in Biomedical Engineering</p>
    <p class="author__bio">Deep tissue imaging<br>Super-resolution microscopy<br>Computational imaging</p>
  </div>
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Links</button>
    <ul class="author__urls social-icons">
      <li><a href="https://scholar.google.com/citations?user=l5fLIjEAAAAJ&amp;hl=en&amp;sortby=pubdate"><i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="https://github.com/Hillbertju"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    </ul>
  </div>
</div>

